.About{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.parlor{
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow: hidden;
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    
}
.parlor img{
    width: 23%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0);
    background-size: cover;
    
}
